/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

	header .header1{
		position: absolute; 
		left: 150px;
		margin-left:-1024px;
}


body {
  margin: 0px -2024px 0px 0px;

}


}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
	header .header{
		position: absolute; 
		left: 150px;
		margin-left:-1024px;
}
	
body {
  margin: 0px -2024px 0px 0px;

}

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
	header .header{
		position: absolute; 
		left: 150px;
		margin-left:-1024px;
}
	
body {
  margin: 0px -2024px 0px 0px;

}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
	header .header{
		position: absolute; 
		left: 150px;
		margin-left:-1024px;
}
	

body {
  margin: 0px -2024px 0px 0px;

}

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
	header .header{
		position: absolute; 
		left: 150px;
		margin-left:-1024px;
}
	
body {
  margin: 0px -2024px 0px 0px;

}

}