/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

	header .header1 li{
		position: absolute; 
		left: 812px;
		margin-left:-1024px;
}
	

	header .logo li a{
		font-size: 16px;
	}


}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
	header .header1 li{
		position: absolute; 
		left: 812px;
		margin-left:-1024px;
}
	

	header .logo li a{
		font-size: 16px;
	}


}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
	header .header1 li{
		position: absolute; 
		left: 812px;
		margin-left:-1024px;
}
	

	header .logo li a{
		font-size: 16px;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
	header .header1 li{
		position: absolute; 
		left: 812px;
		margin-left:-1024px;
}
	

	header .logo li a{
		font-size: 16px;
	}


}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
	header .header1 li{
		position: absolute; 
		left: 812px;
		margin-left:-1024px;
}
	

	header .logo li a{
		font-size: 16px;
	}


}