
html {
	overflow-x: hidden;
	color: rgb(0, 0, 0);
	
}

body {
    font-family: "Minecraft rus", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.7;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0em 100px auto;
	overflow-x: hidden;
	color: rgb(0, 0, 0);
}


.header1 {text-align: center;
    width: 2732px;
	position: absolute; 
		left: 612px;
		margin-left:-1024px;
}



.long-text {
width:900px;
word-break:break-all;
}





.up {
  vertical-align: -5em;
}


.btn1 {
    background-image: url("../img/button1.png");
    padding-left : 252px;
	padding-top : 22px;
	padding-bottom : 0px;
	background-repeat : no-repeat;
	position: relative; 
		top: -90px; 
		left: -140px; 
}



.btn2 {
    background-image: url("../img/button2.png");
    padding-left : 392px;
	padding-top : 30px;
	padding-bottom : 0px;
	background-repeat : no-repeat;
	position: relative; 
		top: -82px; 
		left: -100px;	
}




.btn4 {
    background-image: url("../img/button4.png");
    padding-left : 48px;
	padding-top : 18px;
	padding-bottom : 0px;
	background-repeat : no-repeat;
	position: relative; 
		top: -90px; 
		left: 0px; 
}


.btn5 {
    background-image: url("../img/button5.png");
    padding-left : 48px;
	padding-top : 18px;
	padding-bottom : 0px;
	background-repeat : no-repeat;
	position: relative; 
		top: -90px; 
		left: 40px; 
}




h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 0.5;
}



p {
    font-size: 1.3rem;
}





h2 {
    margin-top: 1em;
}

a {
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}




ul {
    list-style: none;
	position: relative;
    left: -40px;
}

ul li:before {
    content:  "- ";
    position: relative;
    left: 0px;
}

.info-image{
	position: relative; 
		top: -20em; 
		left: 2em; 
}


.info-image2{
	position: relative; 
		top: -1em; 
		left: -410px; 
}


.info-image3{
	position: relative; 
		top: -1em; 
		left: -182px; 
}

